@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


// === MIXIN ===
@mixin inter{
    font-family: 'Inter', sans-serif;
}
@mixin text-style{
    color: $color--secondary;
    font-size: $fs-3;
    line-height: 1.8;
    font-weight: $fw-medium;
}
@mixin text-style-xs{
    @include text-style();
    font-size: $fs-2;
    line-height: 1.6;
}
// === /MIXIN ===

//== VARIABLES ===
$base: 4px;

$padding-vertical-xs: $base * 16; //64
$padding-vertical-sm: $base * 21; //84
$padding-vertical-ml: $base * 27; //108
$padding-vertical-lg: $base * 33; // 132
$padding-vertical-xl: $base * 40; //160


$fw-regular: 400;
$fw-medium: 500;
$fw-semi: 600;
$fw-bold: 700;

$fs-1: 14px;
$fs-2: 16px;
$fs-3: 18px;
$fs-4: 24px;
$fs-5: 32px;
$fs-6: 40px;


$transition: .2s;

$color--primary: #1D1E25;
$color--secondary: #7E8492;
$color--white: #fff;
$color--dark: #000000;
//== /VARIABLES ===

//== COMMON ===
body{
    @include inter();
    background-color: $color--white;
    color: $color--primary;
}
a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(1, 2, 3);
}

.h1{
    color: $color--primary;
    font-weight: $fw-bold;
    line-height: 1.2;
    font-size: 80px;
    letter-spacing: -3px;
}
.h2{
    color: $color--primary;
    font-weight: $fw-semi;
    line-height: 1.2;
    font-size: 56px;
    letter-spacing: -2px;
    &--white{
        color: $color--white;   
    }
}
.h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

.btn{
    border: none;
    padding: $base*4 $base*8;
    border-radius: $base * 25;
    @include inter();
    font-weight: $fw-bold;
    font-size: $fs-2;
    background-color: $color--primary;
    color: $color--white;
    cursor: pointer;
    transition: $transition;
    &:hover{
        background-color: darken($color--primary, 100%);
    }
    &--lg{
        padding: $base*4 $base*11;
    }
}
//== /COMMON ===


//== HEADER ==
.section-header{
    .container{
        padding-top: $base * 6;
        padding-bottom: $base * 5;
    }
}
.main-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-wrapper{
    display: flex;
    list-style: none;
    &-item{
        position: relative;
        &-link{
            font-size: $fs-2;
            font-weight: $fw-medium;
            color: $color--primary;
            &:hover{
                transition: $transition;
                color: $color--dark;
                &::before{
                    content: "";
                    background-color: $color--dark;
                    position: absolute;
                    top: $base * 6;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 1px;
                    width: 100%;
                }
            }
        }
        & + &{
            margin-left: $base * 4;
        }
    }
    .contact_us{
        margin-left: $base * 17;
    }
}

//== /HEADER ==



//== WIDEGET ==
.circle{
    position: absolute;
    width: $base * 132;
    height: $base * 132;
    border-radius: 100%;
    &-1{
        left: $base * 12;
        background: #FA7515;
        filter: blur(220px);
        opacity: 0.20;

    }
    &-2{
        background: #E2F8F0;
        opacity: 0.7;
        top: $base * 46;
        right: -$base * 2;
        filter: blur(180px);
    }
}
.section-widget{
    position: relative;
    .container{
        padding-top: $padding-vertical-sm;
        padding-bottom: $padding-vertical-lg;
        display: flex;
        justify-content: space-between;
    }
}
.section-widget__left{
    flex-basis: 50%;
    .h1{
        margin-bottom: $base * 28;
    }
    .text{
        display: inline-flex;
        font-weight: $fw-semi;
        font-size: $fs-5;
        line-height: 1.3;
        letter-spacing: -1px;
        margin-bottom: $base * 17;
        &::before{
            content: "";
            display: inline-block;
            height: 1px;
            width: 15%;
            margin-right: $base * 7;
            margin-top: $base * 5;
            background-color: $color--dark;
            //margin-right: $base * 7;
        }
    }
}
.widget_form{
    display: flex;
    &-input{
        @include inter();
        color: $color--secondary;
        border: none;
        border-bottom: 1px solid #CED1D8;
        font-size: $fs-2;
        padding-bottom: $base * 6;
    }
}

.section-widget__right{
    flex-basis: 38%;
    margin-top: $base * 16;
    position: relative;
}
.graph-sales{
    margin-bottom: $base * 8;
}
.graph-customers{
    position: absolute;
    top: -10%;
    bottom: 0;
    left: 70%;
    right: 0;
    z-index: 2;
}
.statistic{
    display: flex;
    justify-content: space-between;
    background-color: $color--dark;
    border-radius: $base * 2;
    padding: $base*5 $base*7;
    &-sales, &-marketing{
        display: flex;
        flex-direction: column;
        &-title{
            font-size: $fs-1;
            font-weight: $fw-semi;
            color: #5C616F;
            margin-bottom: $base;
        }
        &-count{
            color: $color--white;
            font-weight: $fw-bold;
            font-size: 20px;
            margin-bottom: $base * 2;
        }
        &-res{
            font-size: $fs-1;
            .percent{
                color: #60D39C;
                font-weight: $fw-semi;
            }
            .text{
                color: #5C616E;
                font-weight: $fw-regular;
            }
        }
    }
    &-marketing-res{
        .percent{
            color: #E35454;
        }
    }
}
//== /WIDEGET ==




//== OVERVIEW ==
.section-overview{
    background-color: $color--primary;
    .container{
        padding-top: $padding-vertical-ml;
        padding-bottom: $padding-vertical-ml;
    }
    .h2{
        width:70%;
        margin-bottom: $base * 6;
    }
    .text{
        @include text-style();
        width:60%;
        margin-bottom: $base * 20;
    }

}
.overview-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: $base * 14;
    column-gap: $base * 40;
    &-item{
        svg{
            margin-bottom: $base * 7;
        }
        &-title{
            width: 50%;
            font-size: $fs-5;
            line-height: 1.3;
            font-weight: $fw-semi;
            letter-spacing: -1px;
            color: $color--white;
            margin-bottom: $base * 6;
        }
        &-text{
            @include text-style-xs();
        }
    }
}
//== /OVERVIEW ==




//== FEAUTERS ==
.section-features{
    .container{
        padding-top: $padding-vertical-xl;
        padding-bottom: $padding-vertical-ml;
        display: flex;
    }
}
.features-left{
    position: relative;
    .stat-img{
        position: absolute;
        top:50%;
        left:40%;
        right: 0;
        bottom: 0;
    }
    margin-right: $base * 14;
}
.features-right{
    flex-basis: 45%;
    .h2{
        margin-bottom: $base * 6;
    }
    .text{
        @include text-style();
        width: 70%;
        margin-bottom: $base * 10;
    }
}
.features-list{
    list-style: none;
    &-item{
        display: flex;
        align-items: center;
        svg{
            margin-right: $base * 4;
        }
        &-text{
            @include text-style();
            color: $color--primary;
            width: 70%;
        }
        margin-bottom: $base * 8;
    }
}
//== /FEAUTERS ==



//== STRENGTH ==
.section-strength{
    .container{
        padding-top: $padding-vertical-xs;
        padding-bottom: $padding-vertical-xl;
    }
}
//== /STRENGTH ==

//== PARTNERS ==
.section-partners{
    .container{
        padding-top: $padding-vertical-sm;
        padding-bottom: $padding-vertical-sm;
    }
}
//== /PARTNERS ==



//== SERVICES ==
.section-services{
    .container{
        padding-top: $padding-vertical-xl;
        padding-bottom: $padding-vertical-ml;
    }
}
//== /SERVICES ==


//== INSIGHT ==
.section-insight{
    .container{
        padding-top: $padding-vertical-xs;
        padding-bottom: $padding-vertical-sm;
    }
}
//== /INSIGHT ==

//== TESTIMONIALS ==
.section-testimonials{
    .container{
        padding-top: $padding-vertical-ml;
        padding-bottom: $padding-vertical-xs;
    }
}
//== /TESTIMONIALS ==

//== FOOTER ==
.section-footer{
    .container{
        
    }
}
//== /FOOTER == 