//== VARIABLES ===
$base: 4px;
$padding-vertical-xs: $base * 16;
$padding-vertical-sm: $base * 21;
$padding-vertical-ml: $base * 27;
$padding-vertical-lg: $base * 33;
$padding-vertical-xl: $base * 40;

//== /VARIABLES ===

//== COMMON ===
.container{
    max-width: 1200px;
    margin: 0 auto;

}
//== /COMMON ===


//== HEADER ==
.section-header{
    .container{
        
    }
}
//== /HEADER ==



//== WIDEGET ==
.section-widget{
    .container{
        
    }
}
//== /WIDEGET ==




//== OVERVIEW ==
.section-overview{
    .container{
        
    }
}
//== /OVERVIEW ==




//== FEAUTERS ==
.section-features{
    .container{
        
    }
}
//== /FEAUTERS ==



//== STRENGTH ==
.section-strength{
    .container{
        
    }
}
//== /STRENGTH ==

//== PARTNERS ==
.section-partners{
    .container{
        
    }
}
//== /PARTNERS ==



//== SERVICES ==
.section-services{
    .container{
        
    }
}
//== /SERVICES ==


//== INSIGHT ==
.section-insight{
    .container{
        
    }
}
//== /INSIGHT ==

//== TESTIMONIALS ==
.section-testimonials{
    .container{
        
    }
}
//== /TESTIMONIALS ==

//== FOOTER ==
.section-footer{
    .container{
        
    }
}
//== /FOOTER == 