@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


// === MIXIN ===
@mixin inter{
    font-family: 'Inter', sans-serif;
}
// === /MIXIN ===

//== VARIABLES ===
$base: 4px;


$padding-vertical-xs: $base * 16; //64
$padding-vertical-sm: $base * 21; //84
$padding-vertical-ml: $base * 27; //108
$padding-vertical-lg: $base * 33; // 132
$padding-vertical-xl: $base * 40; //160


$fw-regular: 400;
$fw-medium: 500;
$fw-semi: 500;
$fw-bold: 700;

$fs-1: 14px;
$fs-2: 16px;
$fs-3: 18px;
$fs-4: 24px;
$fs-5: 32px;
$fs-6: 40px;


$transition: .2s;

$color--primary: #1D1E25;
//== /VARIABLES ===

//== COMMON ===
body{
    @include inter();
    background-color: #fff;
    color: #7E8492;
}
a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(1, 2, 3);
}
//== /COMMON ===


//== HEADER ==
.section-header{
    .container{
        padding-top: $base * 9;
        padding-bottom: $base * 9;
    }
}
.main-navigation{
    display: flex;
}
.nav-wrapper{
    display: flex;
    list-style: none;
    &-item{
        color: $color--primary;
        & + &{
            margin-left: $base * 4;
        }
    }
    .contact_us{
        margin-left: $base * 17;
    }
}

//== /HEADER ==



//== WIDEGET ==
.section-widget{
    .container{
        padding-top: $padding-vertical-sm;
        padding-bottom: $padding-vertical-lg;
    }
}
//== /WIDEGET ==




//== OVERVIEW ==
.section-overview{
    .container{
        padding-top: $padding-vertical-ml;
        padding-bottom: $padding-vertical-ml;
    }
}
//== /OVERVIEW ==




//== FEAUTERS ==
.section-features{
    .container{
        padding-top: $padding-vertical-xl;
        padding-bottom: $padding-vertical-ml;
    }
}
//== /FEAUTERS ==



//== STRENGTH ==
.section-strength{
    .container{
        padding-top: $padding-vertical-xs;
        padding-bottom: $padding-vertical-xl;
    }
}
//== /STRENGTH ==

//== PARTNERS ==
.section-partners{
    .container{
        padding-top: $padding-vertical-sm;
        padding-bottom: $padding-vertical-sm;
    }
}
//== /PARTNERS ==



//== SERVICES ==
.section-services{
    .container{
        padding-top: $padding-vertical-xl;
        padding-bottom: $padding-vertical-ml;
    }
}
//== /SERVICES ==


//== INSIGHT ==
.section-insight{
    .container{
        padding-top: $padding-vertical-xs;
        padding-bottom: $padding-vertical-sm;
    }
}
//== /INSIGHT ==

//== TESTIMONIALS ==
.section-testimonials{
    .container{
        padding-top: $padding-vertical-ml;
        padding-bottom: $padding-vertical-xs;
    }
}
//== /TESTIMONIALS ==

//== FOOTER ==
.section-footer{
    .container{
        
    }
}
//== /FOOTER == 